<section class="main-header">
  <!-- <%= image_tag 'japan.jpg' %> -->
</section>
<section class="about">
  <h1>About blogtask</h1>
  <p>blogtaskはブログを投稿できるwebアプリです。</p>
  <p>タイトルと内容を入力することでブログを投稿できます。</p>
</section>
