header {
  width: 100%;
  background-color: #3c8e66;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
  padding-bottom: 50%;
  width: 100%;
  background-size: cover;
  background-image: url("mainhead.jpg");
  background-attachment: fixed;
}

// .main-header img {
//   display: block;
//   margin: 0 auto;
//   width: 25%;
//   padding-top: 15%;
// }

.about {
  background-color: white;
  color: #333;
  padding: 10px 80px 85px;
}

// .function {
//   background-color: #e9e9e9;
//   padding: 80px;
//   padding-bottom: 185px;
// }
//
// .function-images {
//   width: 100%;
//   display: table;
//   margin-top: 60px;
//   table-layout: fixed;
// }
//
// .function-image {
//   display: table-cell;
//   width: 100%;
// }

footer {
  width: 100%;
  background-color:#3c8e66;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}
